@{
    Layout = "_LayoutLogoff";
    ViewData["Title"] = "Restricted Access";
}
<div class="text-center">
    <h3>You do not have access to this page.</h3>
    <a asp-controller="Home" asp-action="Index" role="button" class="btn btn-secondary">Back to Home</a>
</div>