@{
    Layout = "_LayoutLogoff";
    ViewData["Title"] = "Login";
}
@model ContactRegistrationMVC.Models.LoginModel

<div class="text-center">
    @if (TempData["ErrorMsg"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn-close close-alert btn-sm" aria-label="Close"></button>
            @TempData["ErrorMsg"]
        </div>
    }
    <h4>Log into Contact Controller</h4>
    </div>
<hr />
<div class="row">
        <div class="col-md-4">
        <form asp-action="SignIn" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                <label asp-for="Login" class="form-label">Login username</label>
                <input asp-for="Login" class="form-control" >
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Sign in" class="btn btn-purple" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
